:root {
    --primary-color: #2c3e50; /* Navy Blue */
    --secondary-color: #3498db; /* Light Blue */
    --accent-color: #e67e22; /* Orange */
    --background-color: #ffffff; /* White */
    --text-color: #000000; /* Dark Gray */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    color: var(--primary-color);
    font-size: 30px;
  }
  
  .logo span {
    color: var(--secondary-color);
  }
  
  .menu-bar {
    background-color: var(--background-color);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--secondary-color);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  .hero {
    height: calc(100vh - 80px);
    background-image: url(./bg.jpg);
    background-position: center;
  }
  
